@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');


.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color:#CED6F0;
}

.centrado{
    height: 130vh;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFFF;
    border-radius: 15px;
}

.color{
    margin-top: 5%;
    color:blue;
    
}

.text{
    width: 100%;
    height: 35%;
    padding: 12px;
    text-align: center;
}

.mc1{
    font-size: 40px;
    margin-top: 1%;
}

.mc2{
    margin-top: -2%;

}

.oferts{
    width: 100%;
    height: 15%;
    margin-top: -5%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 3%;
    
}

.item{
    padding: 11% 11%;
    font-size: 100%;
}

.item-p{
    margin-top: -5%;
    font-size: 90%;
}

.itemh3{
    margin-top: 5%;
}
 
.imgs{
    background-color: #4269E2;
    border-radius: 100%;

}

