@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');


.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color:#CED6F0;
}

.centrado{
    height: 120vh;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFFF;
    border-radius: 15px;
}

.color{
    margin-top: 5%;
    color:blue;
    
}

.text{
    width: 100%;
    height: 35%;
    padding: 12px;
    text-align: center;
}

.mc1{
    font-size: 40px;
    margin-top: 1%;
}

.mc2{
    margin-top: -2%;

}

.oferts{
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

